@charset "UTF-8";
/*리셋코드*/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

::-moz-selection {
  background: #20bec6;
  color: #fff;
}

::selection {
  background: #20bec6;
  color: #fff;
}

:root {
  font-family: "Montserrat", "NanumBarunGothic", "맑은 고딕";
  font-size: 12px;
  line-height: 1.6;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  width: 100%;
  padding: 20px 100px;
  box-sizing: border-box;
  display: flex;
  color: #fff;
  z-index: 99;
  transition: all 0.2s ease-in-out;
}
header a:hover {
  color: #20bec6;
}
header #logo {
  margin: 18px 50px 0 15px;
}
header #logo a {
  display: inline-block;
  width: 100px;
  height: 28px;
  background: url("../images/logo.png");
  background-size: 100% auto;
  text-indent: -9999px;
  transition: all 0.2s ease-in-out;
}
header #logo a:hover {
  background-position: 0 bottom !important;
}
header .menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
header #gnb > ul {
  display: flex;
  padding-top: 8px;
}
header #gnb a {
  font-weight: bold;
  width: 70px;
  padding: 15px;
  text-transform: uppercase;
}
header #gnb a::after {
  content: "";
  display: block;
  background: #fff;
  width: 0;
  height: 2px;
  transition: all 0.2s;
}
header #gnb a:hover::after {
  width: 100%;
}
header #gnb .sub {
  padding-bottom: 20px;
  display: none;
}
header #gnb .sub li {
  margin-left: 15px;
}
header #gnb .sub a {
  padding: 0;
  font-size: 10px;
  font-weight: normal;
  white-space: nowrap;
}
header #gnb .sub a::after {
  display: none;
}
header #gnb .sub a:hover {
  text-decoration: underline;
}
header #gnb:hover .sub {
  display: block;
}
header #sns {
  display: flex;
  margin-top: 8px;
}
header #sns a {
  padding: 15px 5px;
}

header.active {
  background: #fff;
  color: #333;
  padding: 0 100px;
}
header.active #logo a {
  background-position: 0 -28px;
}
header.active #gnb a::after {
  background: #333;
}

#main_slide {
  overflow: hidden;
  background: #000;
  position: relative;
}
#main_slide .swiper-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}
#main_slide .swiper-wrapper .swiper-slide {
  width: 100%;
  flex-shrink: 0;
  background: center center/cover no-repeat;
  position: relative;
}
#main_slide .swiper-wrapper .swiper-slide::before {
  content: "";
  background: rgba(0, 0, 0, 0.5333333333);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#main_slide .swiper-wrapper .slide1 {
  background-image: url("../images/main1.jpg");
}
#main_slide .swiper-wrapper .slide2 {
  background-image: url("../images/main2.jpg");
}
#main_slide .swiper-wrapper .slide3 {
  background-image: url("../images/main3.jpg");
}
#main_slide .swiper-wrapper .slide4 {
  background-image: url("../images/main4.jpg");
}
#main_slide .swiper-wrapper .slide5 {
  background-image: url("../images/main5.jpg");
}
#main_slide .swiper-wrapper .slide6 {
  background-image: url("../images/main6.jpg");
}
#main_slide .swiper-wrapper .slide7 {
  background-image: url("../images/main7.jpg");
}
#main_slide .swiper-wrapper .slide8 {
  background-image: url("../images/main8.jpg");
}
#main_slide .swiper-wrapper .text {
  position: absolute;
  left: 120px;
  bottom: 120px;
  color: #fff;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#main_slide .swiper-wrapper .text h2 {
  font-size: 50px;
  font-weight: normal;
  font-family: "NanumBareunGothicLight";
  line-height: 1.1;
}
#main_slide .swiper-wrapper .text p {
  padding: 20px 0;
  margin-bottom: 10px;
  font-family: "NanumBareunGothicUltraLight";
  font-size: 18px;
}
#main_slide .swiper-wrapper .text a {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  line-height: 48px;
  text-align: center;
  font-weight: 200;
  font-size: 14px;
}
#main_slide .swiper-wrapper .swiper-slide-active .text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}
#main_slide .swiper-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  z-index: 1;
  text-align: center;
}
#main_slide .swiper-pagination span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 5px;
  cursor: pointer;
}
#main_slide .swiper-pagination [class*=active] {
  background: #fff;
}

#works {
  padding-bottom: 100px;
}
#works .title {
  margin: 50px 120px;
  font-size: 20px;
}
#works .title a:hover {
  text-decoration: underline;
}
#works .list {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}
#works .list li {
  aspect-ratio: 16/9;
  background: #000;
  overflow: hidden;
  position: relative;
}
#works .list img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
}
#works .list li:hover img {
  transform: scale(1.12);
  opacity: 1;
}
#works .list a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#works .list a h3 {
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: normal;
}
#works .list a p {
  font-size: 12px;
}
#works .more {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #222;
  color: #222;
  margin: 50px auto 0;
  font-size: 16px;
  font-weight: 400;
}
#works .more:hover {
  background: #222;
  color: #fff;
}

#about {
  background: url("../images/about_bg.jpg") no-repeat fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}
#about .inner {
  padding: 100px 0;
  background: rgba(0, 0, 0, 0.5333333333);
}
#about h2 {
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-weight: normal;
}
#about p {
  padding: 0 25%;
  font-size: 24px;
  line-height: 1.42;
  font-size: 24px;
  margin-bottom: 30px;
  font-family: "NanumBareunGothicUltraLight";
  word-break: keep-all;
}
#about a {
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border: 1px solid #fff;
}
#about a:hover {
  background: #fff;
  color: #222;
}

#press {
  background: #eee;
  padding-bottom: 50px;
}
#press .title {
  margin: 50px 120px;
  font-size: 20px;
}
#press .title a:hover {
  text-decoration: underline;
}
#press .inner {
  padding: 20px 50px;
  overflow: hidden;
}
#press .swiper-wrapper {
  display: flex;
}
#press .swiper-slide {
  flex-shrink: 0;
}
#press .swiper-slide a {
  background: #fff;
}
#press .swiper-slide img {
  width: 100%;
  display: block;
}
#press .swiper-slide h3 {
  padding: 10px 15px;
  font-size: 16px;
  font-family: "NanumBareunGothicUltraLight";
  font-weight: normal;
}
#press .swiper-slide p {
  padding: 0 15px;
  font-size: 10px;
}
#press .swiper-slide .more {
  display: block;
  max-width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #222;
  margin: 0 auto;
  background: none;
  border: 1px solid #222;
}
#press .swiper-slide .more:hover {
  background: #222;
  color: #fff;
}/*# sourceMappingURL=style.css.map */