@charset "UTF-8";
/*리셋코드*/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit; /*부모스타일을 따라간다.*/
  text-decoration: none;
  display: inline-block;
}

.font {
  font-family: "Just Another Hand", cursive;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.img {
  background: url("../images/img-logo.png") no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

header {
  width: 100%;
  height: 130px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.1333333333);
}
header .title {
  position: absolute;
  top: 35px;
  left: 204px;
  width: 173px;
  height: 60px;
  background-position: 0 -453px;
}
header .emblem {
  position: absolute;
  top: -70px;
  left: 15px;
  width: 176px;
  height: 196px;
}

.sns {
  float: right;
  border-left: 1px solid #ddd;
  padding: 28px 11px 8px;
}
.sns ul {
  display: flex;
  gap: 4px;
}
.sns a {
  width: 24px;
  height: 24px;
}
.sns .fb {
  background-position: 0 -609px;
}
.sns .fb:hover {
  background-position: 0 -633px;
}
.sns .tw {
  background-position: 0 -561px;
}
.sns .tw:hover {
  background-position: 0 -585px;
}
.sns .rss {
  background-position: 0 -513px;
}
.sns .rss:hover {
  background-position: 0 -537px;
}

#gnb {
  float: right;
  font-size: 22px;
  line-height: 40px;
}
#gnb ul {
  display: flex;
}
#gnb li {
  padding: 22px 11px 0;
  border-left: 1px solid #ddd;
}
#gnb a {
  color: #5e5e5e;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
}
#gnb a:hover {
  color: #e26d5d;
  border-color: #e26d5d;
}
#gnb a::before {
  color: #e26d5d;
}
#gnb .sub {
  position: absolute;
  bottom: 110px;
  margin-left: -11px;
  flex-direction: column;
  opacity: 0;
  transition: all 0.3s;
  visibility: hidden;
}
#gnb .sub li {
  background: #fff;
  border: 0;
  margin-bottom: 1px;
  padding: 7px 14px 3px;
}
#gnb .sub li:first-child {
  border-radius: 3px 3px 0 0;
}
#gnb .sub a {
  border: 0;
}
#gnb li:hover .sub {
  opacity: 1;
  bottom: 130px;
  visibility: visible;
}

.counter ul {
  counter-reset: menu;
}
.counter { /*menu라는 카운터를 생성함.*/ }
.counter li {
  counter-increment: menu;
}
.counter { /*li마다 카운터를 1씩 증가함.*/ }
.counter li a::before {
  content: "0" counter(menu) " ";
}
.counter li li a::before {
  content: counters(menu, ".") " ";
}

#lang {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #e26d5d;
  padding: 0 20px;
  font: 14px/46px "Arial";
  text-transform: uppercase;
  font-weight: bold;
  color: #eea79e;
  border-radius: 2px 0 0;
}
#lang ul {
  display: flex;
}
#lang li::after {
  content: "/";
  padding: 0 4px;
}
#lang li:last-child::after {
  display: none;
}
#lang a {
  color: #fff;
  display: inline;
  padding-bottom: 2px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}
#lang a.active,
#lang a:hover {
  border-color: #fff;
}

#main_view {
  width: 100%;
  height: 100vh;
  position: relative;
}
#main_view .view {
  width: 100%;
  height: 100vh;
  position: relative;
  background: no-repeat center center/cover;
}
#main_view .v1 {
  background-image: url("../images/slide-1.jpg");
}
#main_view .v2 {
  background-image: url("../images/slide-2.jpg");
}
#main_view .v3 {
  background-image: url("../images/slide-3.jpg");
}
#main_view .view h3 {
  position: absolute;
  right: 0;
  bottom: 200px;
  font-size: 60px;
  color: #fff;
  padding: 12px 10px 4px;
  background: rgba(0, 0, 0, 0.7333333333);
  font-weight: normal;
  transform: translateX(100%);
  transition: all 0.3s;
}
#main_view .view a {
  position: absolute;
  right: 0;
  bottom: 150px;
  font-size: 26px;
  color: #fff;
  padding: 8px 6px 4px;
  background: #e26d5d;
  text-decoration: none;
  transform: translateX(100%);
  transition: all 0.3s;
}
#main_view .view.swiper-slide-active h3 {
  transform: translateX(0);
  transition-delay: 0.3s;
}
#main_view .view.swiper-slide-active a {
  transform: translateX(0);
  transition-delay: 0.5s;
}
#main_view .prev, #main_view .next {
  position: absolute;
  top: 20px;
  left: 6%;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7333333333);
  transition: all 0.4s;
  cursor: pointer;
  margin: 0;
  display: none;
}
#main_view .prev svg, #main_view .next svg {
  width: 10px;
}
#main_view .prev path, #main_view .next path {
  fill: #fff;
}
#main_view .prev:hover, #main_view .next:hover {
  background: #e26d5d;
}
#main_view .next {
  left: calc(6% + 42px);
}
#main_view .pager {
  position: absolute;
  top: 70px;
  right: 20px;
  left: auto;
  bottom: auto;
  width: auto;
}
#main_view .pager span {
  width: 16px;
  height: 16px;
  background: rgba(0, 0, 0, 0.7333333333);
  margin: 0 0 0 4px;
  opacity: 1;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.5333333333) inset;
}
#main_view .pager .swiper-pagination-bullet-active::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 50%;
  background: #e26d5d;
}

#notice {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  background: #fff;
  display: flex;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1333333333);
}
#notice h3 {
  background: #5d9fca;
  font-size: 22px;
  color: #fff;
  line-height: 46px;
  padding: 0 11px;
}
#notice ul {
  flex-grow: 1;
  display: flex;
}
#notice li {
  flex-shrink: 0;
  padding: 0 14px;
  border-right: 1px solid #ccc;
}
#notice li a {
  font-family: "Arial";
  font-size: 14px;
  line-height: 20px;
  padding: 13px 0;
  color: #5e5e5e;
}
#notice li a:hover {
  color: #5d9fca;
}
#notice li span {
  color: #bbb;
  padding-left: 5px;
}
#notice .gradient-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), white);
}/*# sourceMappingURL=style.css.map */