@charset "utf-8";

/*리셋코드*/
*{margin:0; padding:0;}
li{list-style:none;}
a{color:inherit; text-decoration:inherit;}

/*문서공통*/
:root{  //최상위요소(=html)
  font-family: "Pretendard Variable", Pretendard;
  font-size:14px; line-height:1.6; color:#333;
}

/*상단*/
header{
  position:fixed; width:100%; z-index:999;
  backdrop-filter:blur(4px);
  box-shadow:0 1px 1px #0003;
  padding:0 40px; height:60px; box-sizing:border-box;
  display:flex; justify-content:space-between;
  align-items:center;
  #gnb{
    ul{display:flex; gap:40px;}
    .btn{cursor:pointer;}
    .btn.active{color:#f00;}
  }
}

/*메인공통*/
#wrap{
  width:100%; height:100vh; overflow:hidden;
  .section{width:100%; height:100vh;
    display:flex; justify-content:center;
    align-items:center;}
}//end:#wrap

#main{
  background:#ffdbdb;
}//end:#main

#about{
  background:#c3ffde;
}//end:#about

#works{
  background:#d0b7ff;
}//end:#works

#contact{
  background:#f1ffb4;
}//end:#contact